.idea
.vscode
_deps
cmake-*
build
.DS_Store
*.pdf
*.elf
*.hex
*.obj
*.o
*.d
*.eep
*.lst
*.lss
*.sym
*.map
*~
*.eeprom
*.bloom/
*env*
~*
bloom.yaml
.gdbinit
*.stc
!.vscode/c_cpp_properties.json
!.vscode/tasks.json